[Unit]
Description=emonpv
After=network-online.target syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/emonpv
ExecStart=/usr/bin/python3 /opt/emonpv/bin/emonpv start
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
