[Solarpanel]
	# Maximum Power [W]
	p_mpp = 
	
	# Nominal operating cell temperature [°C]
	noct = 
	
	# MPP temperature coefficient [%/°K]
	temp_coeff = 
	
	# Number of modules in the installation
	n = 
	
	# Module tilt from horizontal [°]
	tilt = 
	
	# Module azimuth from north [°]
	azimuth = 
	
	# Module ground reflectance, typically 0.1-0.4 for surfaces on ground
	albedo = 