[Unit]
Description=pvforecast
After=network-online.target syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/pvforecast
ExecStart=/usr/bin/python3 /opt/pvforecast/bin/pvforecast start
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
