.modal .modal-body {
    max-height: none;
}
.modal .description {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
    color: #666;
}
.modal .divider {
    width: 100%;
    height: 1px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #f0f0f0 1px solid;
}

.modal-adjust {
    margin: 0 auto;
    left: 0px;
    border-radius: 0;
    border: none;
    width: 100%;
    overflow-y: hidden;
}
@media (min-width: 480px) {
    .modal-adjust {
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,0.3);
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .modal-adjust {
        width: 90%;
        top: 5%;
        left: 5%;
        right: 5%;
    }
}
@media (min-width: 768px) {
    .modal-adjust {
        width: 80%;
        right: 10%;
        left: 10%;
    }
}
@media (min-width: 979px) {
    .modal-adjust {
        width: 50%;
        right: 25%;
        left: 25%;
    }
}

.modal-adjust .modal-body {
    padding: 0;
    min-height: 350px;
    max-height: none;
    overflow-y: hidden;
    transition: height 0.25s ease-in-out;
}

.modal-adjust .modal-content {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 15px;
    height: calc(100% - 30px);
    min-width: 345px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left 0.25s ease-in-out;
}
.modal-adjust .modal-body.sidebar .modal-content {
    left: 250px;
}
.modal-adjust .modal-content .btn-sidebar-open {
    margin-bottom: 5px;
}
.modal-adjust .modal-content > div:last-child {
    margin-bottom: 15px;
}

.modal-adjust .modal-sidebar {
    width: 0;
    position: absolute;
    max-height: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f2f2f2;
    z-index: 1000;
    transition: width 0.25s ease-in-out;
}
.modal-adjust .modal-body.sidebar .modal-sidebar {
    width: 250px;
}
.modal-adjust .modal-sidebar .btn-sidebar-close {
    right: 0;
    top: .5em;
    position: absolute;
    cursor: pointer;
    line-height: 1.3;
    background: #f2f2f2;
    padding: .3em .6em;
}
.modal-adjust .modal-sidebar .accordion {
  margin-bottom: 0px;
}
.modal-adjust .modal-sidebar .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.modal-adjust .modal-sidebar .accordion-inner {
    padding: 0px;
    border-top: 0px;
}
.modal-adjust .modal-sidebar .accordion-toggle {
    overflow: hidden;
}
.modal-adjust .modal-sidebar .accordion-heading {
    background-color: #e3e3e3;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.modal-adjust .modal-sidebar .accordion-heading:hover {
    background-color: #ededed;
}
.modal-adjust .modal-sidebar .accordion-heading span {
    font-weight: bold;
    padding: 6px 6px 6px 10px;
}
.modal-adjust .modal-sidebar .accordion-inner > div {
    padding: 8px 8px 8px 16px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #fcfcfc;
    cursor: pointer;
}
.modal-adjust .modal-sidebar .accordion-inner > div:hover {
    background-color: #3c9ee6;
    color: #ffffff;
}
.modal-adjust .modal-sidebar .accordion-inner > div.selected {
    background-color: #0069b4;
    color: #ffffff;
}

.alert-comment {
    margin: 0px;
    color: #737373;
    background-color: #f9f9f9;
    border-color: #e6e6e6;
}
.alert-comment h4 {
    color: #737373;
}
.alert h4 {
    margin-top: 10px;
}

.tooltip {
    pointer-events: none;
}
.tooltip.top > .tooltip-arrow {
    border-top-color: #eee !important;
}
.tooltip.left > .tooltip-arrow {
    border-left-color: #eee !important;
}
.tooltip.right > .tooltip-arrow {
    border-right-color: #eee !important;
}
.tooltip.bottom > .tooltip-arrow {
    border-bottom-color: #eee !important;
}
.tooltip-inner {
    max-width: 320px;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    text-align: left;
    color: #333;
}
.tooltip-inner br {
   margin-bottom: 6px;
}
.tooltip.in {
    opacity: .95;
    filter: alpha(opacity=95);
}
.system-actions {
    display: table;
    height: 25px;
    padding-left: 12px;
    padding-right: 2px;
    margin-bottom: 6px;
    transition: all .2s ease-out
}
.system-actions .system-select input[type="checkbox"] {
    margin: 0px;
}
.system-actions .system-select span {
    margin-left: 8px;
    font-size: 12px;
    color: #b3b3b3;
}
.system-actions.affix {
    position: fixed;
    z-index: 2;
    width: calc(100% - 60px);
    height: 40px;
    top: 40px;
}
.system-actions.affix > * {
    line-height: 40px; 
    z-index: 2
}
.system-actions.affix:before {
    position: fixed;
    z-index: -1;
    content: '';
    width: 100%;
    height: 40px;
    top: 40px;
    left: 0px;
    opacity: 0.85;
}
.system-actions.affix .system-select span {
    color: #fff;
}
.system-actions.affix .action span {
    background-image: url("../../../../Lib/bootstrap/img/glyphicons-halflings-white.png");
}

@media(max-width:979px) {
    .system-actions.affix:before,
    .system-actions.affix { top:0px }
}

.system {
    display: table;
    width: 100%;
    margin-bottom: 8px;
}

.system-header {
    background-color: #ddd;
    cursor: pointer;
}
.system-header:hover {
    background-color: #e3e3e3;
}
.system-header .system-item {
    height: 40px;
}

.system-body {
    width: 100%;
    background-color: #f0f0f0;
}

.system-item,
.inverter-item {
    display: table-row;
}

.system-item > div,
.inverter-item > div {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.settings .menu,
.system-item .action,
.inverter-item .action {
    width: 14px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
    cursor: pointer;
}
.system-item .action.disabled,
.system-item .action.disabled,
.system-item .action.disabled *,
.inverter-item .action[disabled],
.inverter-item .action[disabled],
.inverter-item .action[disabled] * {
    cursor: not-allowed;
}
.system-item .name,
.inverter-item .name {
    padding-right: 5px;
    font-weight: bold;
    color: #666;
}
.system-item .description,
.inverter-item .description {
    font-size: 15px;
    font-weight: lighter;
    color: #666;
}
.system-item .description em,
.inverter-item .description em {
    color: #999;
}
@media(max-width: 600px) {
    .system-item .description,
    .inverter-item .description { display: none; }
}

.inverter > div {
    vertical-align: top;
    padding-top: 18px;
}
.inverter > .count {
    padding-top: 62px;
    text-align: right
}
.inverter > div:first-child {
    padding-left: 8px;
    padding-right: 8px;
}
.inverter-item {
    height: 42px;
    background-color: #e3e3e3;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}
.inverter-item:hover {
    background-color: #0069b4;
}
.inverter-item:hover .count > input:not(:hover):not(:focus):not(:active):not(:hover),
.inverter-item:hover .count > span,
.inverter-item:hover .name,
.inverter-item:hover .description,
.inverter-item:hover .icon-action {
    color: #def2ff;
}
.inverter-item .icon-action {
    color: #999;
}
.inverter-item .icon-action:hover {
    color: #fff;
}
.inverter-item > div {
    border-bottom: 1px solid #f5f5f5;
    color: #333;
}
.inverter-item > div:last-child {
    padding-right: 18px;
}
.inverter-item > div:first-child {
    padding-left: 8px;
    padding-right: 4px;
}
.inverter-item:before {
    content: "";
    position: absolute;
    height: 23px;
    width: 40px;
    margin-top: 10px;
    margin-left: -40px;
}
.inverter-item:nth-child(1):before,
.inverter-item.modules:nth-child(1):before,
.inverter-item.modules:nth-child(2):before {
    border-bottom: 3px solid #545454;
    border-top: 3px solid #545454;
}
.inverter:hover .inverter-item.modules:nth-child(1):before,
.inverter:hover .inverter-item.modules:nth-child(2):before {
    border-bottom: 3px solid #0069b4;
    border-top: 3px solid #b40000;
}

.inverter .count > input {
    height: 2ch;
    width: 2ch;
    margin: 0;
    padding: 4px;
    text-align: center;
    white-space: normal;
    border-radius: 0;
    transition: margin .1s ease-in-out;
}
.inverter .count > input:not(:hover):not(:focus):not(:active):not(:hover) {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    color: #666;
}
.inverter-item .count > input:hover, 
.inverter-item .count > input:focus, 
.inverter-item .count > input:active {
    margin-left: 5px;
    margin-right: 5px;
}
.inverter-item .count > span {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: #666;
}

.inverter .clipart {
    min-width: 210px;
    /*background: url(../images/inverter-mono.png);
    background-repeat: no-repeat;
    background-size: auto;*/
}
.inverter .clipart:hover {
    cursor: pointer;
}
.inverter .clipart.disabled:hover,
.inverter .clipart[disabled]:hover {
    cursor: not-allowed;
}

.inverter .inverter-body {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.inverter .inverter-body > div:first-child {
    display: table;
    width: 100%;
    padding-top: 10px;
    border-collapse: separate;
    border-spacing: 0 3px;
}

.system-menu .dropdown-menu {
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}
.system-menu .dropdown-menu > li > a:focus,
.system-menu .dropdown-menu > li > a:hover {
    background-color: #f8f9fa;
    background-image: none;
    text-decoration: none;
    color: #16181b;
}

.system-collapse {
    width: 14px;
    padding-left: 14px;
    padding-right: 14px;
    color: #666;
}

.system .grow {
    width: 100%;
}

.system-new,
.inverter-add {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.system-new .divider,
.inverter-add .divider {
    height: 1px;
    flex-grow: 1;
    margin-left: 8px;
    margin-right:40px;
    border-bottom: #ddd 1px solid;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.inverter-add:hover {
    cursor: pointer;
}
.inverter-add:hover .divider {
    border-bottom: #d1d1d1 1px solid;
}
.inverter-add .btn {
    color: #ddd;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    background-color: transparent;
}
.inverter-add:hover .btn {
    color: #999;
    background-color: #ddd;
}

.inverter-item.new {
    height: 36px;
    background-color: #f5f5f5;
}
.inverter-item.new.disabled *,
.inverter-item.new[disabled] * {
    cursor: not-allowed;
}
.inverter-item.new:hover {
    background-color: #fcfcfc;
    cursor: pointer;
}
.inverter-item.new > div {
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
}
.inverter-item.new > div:first-child {
    border-left: 2px dashed #eee;
}
.inverter-item.new > div:last-child {
    border-right: 2px dashed #eee;
}
.inverter-item.new:hover > div {
    border-color: #ddd;
}
.inverter-item.new .btn {
    color: #bbb;
    background-color: #e3e3e3;
}
.inverter-item.new:hover .btn {
    color: #666;
    background-color: #ddd;
}

.modules-settings > div {
    white-space: nowrap;
    padding-top: 4px;
}
.modules-info .icon-action {
    color: #999;
    margin-left: 2px;
    vertical-align: -0.15em;
}

.system-new {
    margin-top: 15px;
}
.system-new .divider {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: #f0f0f0 1px solid;
}
.system-new:hover .divider {
    border-bottom: #ddd 1px solid;
}
.system-new:hover .btn {
    color: #999;
    background-color: #e6e6e6;
}

.system-run,
.system-download {
    margin: 14px;
}

.system-map {
    width: 225px;
    min-width: 225px;
    min-height: 225px;
    margin-top: 14px;
    margin-left: 18px;
    transition-property: all;
    transition-duration: .25s;
    /* transition-timing-function: cubic-bezier(0, 1, 0.25, 1); */
}
.system-map.advanced {
    width: calc(100% - 18px);
    cursor: default;
}
.system-map:not(.advanced) .leaflet-control-container {
    display: none;
}

.leaflet-control-search {
    color: #fff;
}
.leaflet-control-search .search-input,
.leaflet-control-search input[type="text"],
.leaflet-control-search textarea {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    background-color: rgba(255,255,255,.8);
}
.leaflet-control-search .search-tip {
    margin: 0 0 0 2px;
    border-radius: 0px;
    background-color: #fff; /*rgba(255,255,255,.8);*/
}
.leaflet-control-search ul,
.leaflet-control-search ol {
    margin: 0 0 10px 3px;
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    background-image: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
svg.icon-info {
    color: #bfbfbf;
}
svg.icon-info:hover {
    color: #d9d9d9;
}
svg.icon-advanced,
svg.icon-action,
svg.icon-info {
    cursor: pointer;
}
svg.icon-collapse,
svg.icon-advanced,
svg.icon-action,
svg.icon-menu {
    color: #555;
}
svg.icon-advanced:hover,
svg.icon-action:hover,
svg.icon-menu:hover {
    color: #888;
}
svg.icon-collapse {
    width: .75em;
    height: .75em;
    vertical-align: -.01em;
}
svg.icon-action {
    width: .9em;
    height: .9em;
    vertical-align: -.01em;
}
svg.icon-menu {
    width: 1.1em;
    height: 1.1em;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.disabled,
.btn-light[disabled] {
    color: #999;
    background-color: #e6e6e6;
}
.btn-light {
    color: #ddd;
    background-color: #f5f5f5;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled] {
    color: #333;
    background-color: #d9d9d9;
}
.btn-default {
    color: #666;
    background-color: #e6e6e6;
}
.btn-plain {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 35px;
}
.btn-small {
    width: 20px;
    height: 20px;
    padding: 0;
}
.btn-small svg {
    width: .75em;
    height: .75em;
    vertical-align: .15em;
}
.btn-right-results {
    margin-right: 40px;
    margin-left: 0px;
}
.btn-right-hide {
    display: none !important;
}

.btn.disabled,
.btn[disabled] {
    cursor: not-allowed;
}

*::before, *::after {
    box-sizing: border-box;
}

/* Chrome */
@supports (-webkit-appearance:none ) {
    .checkbox-slider--b-flat {
        padding: 0px;
        height: 20px;
    }
}

/* IE */
@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast : none) {
    .checkbox-slider--b-flat {
        padding: 0px;
        height: 20px;
    }
}

/* Firefox */
_:-moz-tree-row(hover), .checkbox-slider--b-flat {
    padding: 0px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: gainsboro;
}

.checkbox-slider--b-flat input:focus+:before {
    outline: none !important;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.results {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 18px;
}
.results > div {
    display: table-row;
}
.results > div > div {
    display: table-cell;
    padding-left: 48px;
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
}
.results > div > div:first-child {
    min-width: 170px;
    padding-left: 38px;
}
.results > div > div:last-child {
    padding-right: 38px;
    text-align: right;
}
.results > .value > div {
    line-height: 1.5em;
}
.results .title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
}
.results .value {
    padding-top: 8px;
/*     color: #0069b4; */
    color: #1480cc;
    font-size: 30px;
    font-weight: bold;
}
.results .unit {
    color: #66a2cc;
    font-size: 24px;
    font-weight: normal;
}
.results-error {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
}
.results-error > .message {
    cursor: pointer;
}
.results-error > .message > span:first-child {
    font-size: 18px;
    font-weight: bold;
}
.results-error > .trace {
    margin-top: 4px;
}

.settings {
    display: table;
    padding-left: 18px;
}
.settings > div {
    display: table-row;
}
.settings > div > div {
    display: table-cell;
    vertical-align: middle;
}

.results .fill,
.settings .fill {
    width: 100%;
}
.settings input,
.settings select {
    margin-bottom: 0px;
    margin-right: 5px;
}
.settings .input-append input {
    margin-right: 0px;
    max-width: 500px;
    min-width: 210px;
    width: 210px;
}
.settings .input-append input[readonly], 
.settings .input-append select[readonly] {
    background-color: #fff;
    cursor: auto;
}
.settings .input-append .btn {
    line-height: 20px;
    height: 20px;
	padding: .25rem .5rem;
}
.settings .input-small {
    margin-right: 12px;
    /* width: 90px;
    text-align: right; */
}

.settings select.select-large {
    width: 240px;
}
.settings select.select-default {
    color: #888;
    font-style: italic;
}
.settings select.select-default option {
    color: black;
}
/* .settings input[style*="display: none;"],
.settings select[style*="display: none;"] {
    padding: 0;
    margin: 0;
} */
.settings .name {
    color: #555;
}
.settings .description {
    font-size: 15px;
    font-weight: lighter;
    color: #999;
}

.settings-header > * {
    padding-top: 8px;
}
.settings-header > div:last-child {
    padding-right: 8px;
}
.settings .header span,
.settings-header span {
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    color: #777;
}

.settings-collapse > svg,
.settings-collapse > span {
    cursor: pointer;
}
.settings-title span[type="text"] {
    line-height: 20px;
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    color: #555;
}
.settings .unit {
    margin-right: 8px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #c6c6c6;
}
.settings .required.asterisk,
.modal-footer .required .asterisk {
    color: #0069b4;
}
.modal-footer .required .description {
    font-size: 14px;
    color: #a6a6a6;
}
.modal-footer .required {
    margin-top: -10px;
    margin-left: 12px;
}

.system-progress {
    background: #f0f0f0;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.progress-default .bar,
.progress .bar-default {
    background-color: #dddddd;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffcccccc', GradientType=0);
}

.progress-default.progress-striped .bar,
.progress-striped .bar-default {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.slide-enter-active {
    transition: height .3s ease-in-out;
}
.slide-leave-active {
    transition: height .5s ease-in-out; /*cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}
.slide-enter, .slide-leave-to {
    height: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
