.modal .modal-body {
    max-height: none;
}
.modal .alert-comment {
    margin: 0px;
    color: #737373;
    background-color: #f9f9f9;
    border-color: #e6e6e6;
}
.modal .alert-comment h4 {
    color: #737373;
}
.modal .divider {
    width: 100%;
    height: 1px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #f0f0f0 1px solid;
}

.tooltip {
    pointer-events: none;
}
.tooltip.top > .tooltip-arrow {
    border-top-color: #eee !important;
}
.tooltip.left > .tooltip-arrow {
    border-left-color: #eee !important;
}
.tooltip.right > .tooltip-arrow {
    border-right-color: #eee !important;
}
.tooltip.bottom > .tooltip-arrow {
    border-bottom-color: #eee !important;
}
.tooltip > .tooltip-inner {
    max-width: 320px;
    background-color: #f5f5f5;
    border: 1px solid #f0f0f0;
    color: #333;
}
.tooltip.in {
    opacity: .95;
    filter: alpha(opacity=95);
}.system-actions {
    display: table;
    height: 25px;
    padding-left: 12px;
    padding-right: 2px;
    margin-bottom: 6px;
    transition: all .2s ease-out
}
.system-actions .system-select input[type="checkbox"] {
    margin: 0px;
}
.system-actions .system-select span {
    margin-left: 8px;
    font-size: 12px;
    color: #b3b3b3;
}
.system-actions.affix {
    position: fixed;
    z-index: 2;
    width: calc(100% - 60px);
    height: 40px;
    top: 40px;
}
.system-actions.affix > * {
    line-height: 40px; 
    z-index: 2
}
.system-actions.affix:before {
    position: fixed;
    z-index: -1;
    content: '';
    width: 100%;
    height: 40px;
    top: 40px;
    left: 0px;
    opacity: 0.85;
}
.system-actions.affix .system-select span {
    color: #fff;
}
.system-actions.affix .action span {
    background-image: url("../../../../Lib/bootstrap/img/glyphicons-halflings-white.png");
}

@media(max-width:979px) {
    .system-actions.affix:before,
    .system-actions.affix { top:0px }
}

.system {
    display: table;
    width: 100%;
    margin-bottom: 8px;
}

.system-header {
    background-color: #ddd;
    cursor: pointer;
}
.system-header:hover {
    background-color: #e3e3e3;
}
.system-header .system-item {
    height: 40px;
}
.system-header .name {
    padding-right: 5px;
    font-weight: bold;
    color: #666;
}
.system-header .description {
    font-size: 15px;
    font-weight: lighter;
    color: #666;
}
.system-header .description em {
    color: #999;
}
@media(max-width: 600px) {
    .system-header .description { display: none; }
}

.system-body {
    width: 100%;
    background-color: #f0f0f0;
}
.system-body .system-item {
    height: 42px;
}
.system-body .system-item:hover {
    background-color: #f5f5f5;
}
.system-body .system-item > div {
    border-bottom: 1px solid #fff;
    color: #333;
}
.system-body .system-item > div:last-child {
    padding-right: 18px;
}
.system-body .system-item .action:hover {
    opacity: 0.666;
}
.system-body .system-item .system-select {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
.system-body .system-item .system-select input[type="checkbox"] {
    width: 14px;
    margin: 14px 0px;
}
.system-body .alert {
    margin: 5px;
}

.system-item  {
    display: table-row;
}
.system-item > div {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}
.system-item .action {
    width: 14px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
    cursor: pointer;
}

.system-menu .dropdown-menu {
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: .25rem;
}
.system-menu .dropdown-menu > li > a:focus,
.system-menu .dropdown-menu > li > a:hover {
    background-color: #f8f9fa;
    background-image: none;
    text-decoration: none;
    color: #16181b;
}

.system-collapse {
    width: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: #666;
}

.system .grow {
    width: 100%;
}

/* .settings-collapse:hover svg.icon, 
.settings-collapse:hover span {
    color: #888;
} */

#system-location .input-small {
    width: 95px;
}

.system-map {
    width: 225px;
    min-width: 225px;
    min-height: 225px;
    margin-top: 14px;
    margin-left: 18px;
    transition-property: all;
    transition-duration: .25s;
    /* transition-timing-function: cubic-bezier(0, 1, 0.25, 1); */
}
.system-map.advanced {
    width: calc(100% - 18px);
    cursor: default;
}
.system-map:not(.advanced) .leaflet-control-container {
    display: none;
}

.leaflet-control-search {
    color: #fff;
}
.leaflet-control-search .search-input,
.leaflet-control-search input[type="text"],
.leaflet-control-search textarea {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    background-color: rgba(255,255,255,.8);
}
.leaflet-control-search .search-tip {
    margin: 0 0 0 2px;
    border-radius: 0px;
    background-color: #fff; /*rgba(255,255,255,.8);*/
}
.leaflet-control-search ul,
.leaflet-control-search ol {
    margin: 0 0 10px 3px;
}

.system-new {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.system-new .divider {
    height: 1px;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: #f0f0f0 1px solid;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.system-new:hover .divider {
    border-bottom: #ddd 1px solid;
}
.system-new:hover .btn-light,
.btn-light:hover, 
.btn-light:focus, 
.btn-light:active, 
.btn-light.active {
    color: #999;
    background-color: #e6e6e6;
}
.btn-light {
    color: #ddd;
    background-color: #f5f5f5;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
    color: #333;
    background-color: #d9d9d9;
}
.btn-default {
    color: #666;
    background-color: #e6e6e6;
}
.btn-plain {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 35px;
}

/* .btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
} */

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    background-image: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
svg.icon-info {
    color: #bfbfbf;
}
svg.icon-info:hover {
    color: #d9d9d9;
}
svg.icon-advanced,
svg.icon-action,
svg.icon-info {
    cursor: pointer;
}
svg.icon-collapse,
svg.icon-advanced,
svg.icon-action,
svg.icon-menu {
    color: #555;
}
svg.icon-advanced:hover,
svg.icon-action:hover,
svg.icon-menu:hover {
    color: #888;
}
svg.icon-collapse {
    width: .75em;
    height: .75em;
    vertical-align: -.01em;
}
svg.icon-action {
    width: .9em;
    height: .9em;
}
svg.icon-menu {
	width: 1.1em;
    height: 1.1em;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.settings {
    display: table;
    padding-left: 18px;
}
.settings > div {
    display: table-row;
}
.settings > div > div {
    display: table-cell;
    vertical-align: middle;
}

.settings .fill {
    width: 100%;
}
.settings input,
.settings select {
    margin-bottom: 0px;
    margin-right: 5px;
}

.settings select.select-default {
    color: #888;
    font-style: italic;
}
.settings select.select-default option {
    color: black;
}
.settings select.select-large {
    width: 224px;
}
/* .settings input[style*="display: none;"],
.settings select[style*="display: none;"] {
    padding: 0;
    margin: 0;
} */

.settings-header > * {
    padding-top: 10px;
}
.settings-header span {
    text-align: left;
    font-weight: normal;
    color: #999;
}
.settings-title span[type="text"] {
    line-height: 20px;
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    color: #555;
}
